<div id="question_wrapper">
	<h1 class="text-center"><%= @question.title %></h1>

	<% if @question.description.present? %>
		<div id="info_button">?</div>

		<p>
		  <%= @question.description %>
		</p>
	<% end %>

</div>
