<% if @vote.agreement %>
true
<% else %>
false
<% end %>

<h2 class="text-center">Thanks, your vote has been recieved!</h2>

<hr>

<%= link_to "Facebook", "", :class => "btn btn-primary btn-block btn-lg" %>
<%= link_to "Twitter", "", :class => "btn btn-primary btn-block btn-lg" %>
<%= link_to "Email", "", :class => "btn btn-primary btn-block btn-lg" %>
